/*
------------------------------------------------------------------------------------------------------------------
No se reinician parámetros por defecto (Margin y Padding) debido a que el archivo Normalize agregado en el código 
HTML ya se encarga de hacer dichos reinicios para todo tipo de navegador en donde se ejecute el sitio web.
------------------------------------------------------------------------------------------------------------------
*/

/*---------------------------------------------Barra de scroll lateral derecha---------------------------------------------*/

@font-face {
	font-family: 'Geosans';
	src: url(../fonts/Geosans.ttf);
}


body{
	background-image: url("../img/Simple Shiny.svg");
	/*background-color: #E0E0DD;*/
	/*background-image: url("../img/fondo4.png");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	min-height: 100vh;

} 

/*---------------------------------------------Aquí comienza el código CSS3 del menú despegable---------------------------------------------*/

/*Barra de navegación con efecto Glassmorphism*/
header{
	background: rgba(255, 255, 255, 0.664);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter:  blur( 20px );
	border: 1px solid rgba(255, 255, 255, 0.18);
	height: 80px;
	width: 100%;
	box-shadow: -5px -2px 7px 0px;
	position: -webkit-fixed;
	position: fixed;
	top: 0px;
	z-index: 1000;
	border: 1px solid black;
}
.enlace{
	position: absolute;
	padding: 13px 0px 0px 15%;
}
.logo{
	height: 55px;
	margin-left: 10%;

}
header ul{
	float: right;
	margin-right: 15vh;
	padding-bottom: 100px;

}
header ul li{
	display: inline-block; 
	line-height:2vh;
	margin: 0px 0px 0 0px;
	
} 
header ul li a{
	color: #00263A;  
	font-size: 19px;
	font-family: 'Geosans';
	padding: 25px 10px;
	border-radius: 2px;
	font-weight: bolder;
	text-decoration: none;


}
header li a.active:hover, header li a:hover{
	background: #dbdbdb;
	color: #976329;
	transition: .5s;
	border-radius: 1px;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	-ms-border-radius: 1px;
	-o-border-radius: 1px;
}
.checkbtn{
	font-size: 30px;
	color: #033e75;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}


header > ul > li{
    position: relative;
    display: inline-block;
}

header > ul > li > a{
    display: block;
    padding: 15px 10px;
    color:#033e75; 
    font-family: 'Geosans';
    text-decoration: none;
}
header ul li a:hover{
    background-color: #033e75;
    transition: all .3s;
    color: #FFFFFF;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

/*Propiedades del submenú/menú desplegable*/

.submenu{
	background: rgba(255, 255, 255, 0.918);
    backdrop-filter:  blur( 3000px );
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.808);
    position: fixed;
    z-index: 1000;
    position: absolute;
    width: 250%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.submenu li a{
	display: block;
	padding: 7px;
	justify-content: left;
	color: #033e75;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.submenu li a:hover{
	display: block;
	padding: 7px;
	justify-content: left;
	background: #dbdbdb;
	color: #976329;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	-webkit-border-radius: 2px;
}
.submenu li {
	display: block;
	padding:  3px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
}

header ul li:hover .submenu{
    visibility: visible;
    opacity: 1;
	padding: 15px;
	padding-top: 5px;
	margin: 0px;
	
}

/*Propiedades del submenú del apartado OTROS*/

header ul .submenuotros{
	position: absolute;
	background: rgba(255, 255, 255, 0.911);
	color: #976329;
	width: 180%;
	top: 5px;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.808);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

header .submenuotros li a{
    display: block;
    padding: px;
    color: #033e75; 
	font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
header .submenuotros li {
    display: block;
    padding:  5px;
    padding-top: 0;
    padding-bottom: 0;
    color: #033e75; 
	font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

header .submenu li:hover .submenuotros{
    visibility: visible;
    opacity: 1;
    right: 15%;
	top: 0;
}

/*Propiedades de estilo para el submenú del apartado OTROS, con el fin de que se ajuste submenú con submenú visualmente*/

.submenuotros2{
	position: absolute;
	background: rgba(255, 255, 255, 0.911);
	color: #976329;
	width: 180%;
	top: 50px;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.808);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-ms-transition: opacity 0.5s;
	-o-transition: opacity 0.5s;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}
header .submenuotros2 li a{
    display: block;
    padding: px;
    color: #033e75; 
	font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.submenu li:hover .submenuotros2{
    visibility: visible;
	color: #FFFFFF;
    opacity: 1;
    right: 15%;
    top: 100px;
    padding: 5px;
}

/*Propiedades de estilo para el submenú del apartado OTROS, con el fin de que se ajuste submenú con submenú visualmente*/
.submenuotros3{
    position: absolute;
	background: rgba(255, 255, 255, 0.911);
	color: #976329;
    width: 180%;
    top: 5px;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.808);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -ms-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
}
header .submenuotros3 li a{
    display: block;
    padding: px;
    color: #033e75; 
	font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.submenu li:hover .submenuotros3{
    visibility: visible;
    opacity: 1;
    right: 15%;
    top: 75%;
    padding: 5px;
}


/*----------------------------------Aquí comienza el código para la sección de Contenido----------------------------------*/

.contenedor {
	font-family: 'Raleway', sans-serif;
	width: 70%;
	max-width: auto;
	margin: 500px auto;
	margin-top: 1%;
	display: grid;
	grid-gap: 20px;
    text-align: justify;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, auto);
    margin-bottom: 15%;
	letter-spacing: 1px;
	

	grid-template-areas:
						 "contenido contenido contenido contenido aside1"
						 "contenido contenido contenido contenido aside3"
						 "contenido contenido contenido contenido 0"
						 "footer footer footer footer footer";
}

.contenedor > div,
.contenedor .contenido, 
.aside1, .aside3
 {
	background: rgb(255, 255, 255);
	box-shadow:  0 1px 5px rgb(0 0 0 / 20%);
	backdrop-filter:  blur( 7px );
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;

}

.contenedor .contenido {
	grid-area: contenido;
	
}

.aside1{
	grid-area: aside1;
}
.aside3{
	grid-area: aside3;
}

.contenedor .contenido h1{
	text-align: center;

}
.contenido p{
	font-size: 16px;
	text-align: center;
	color: #000000;
}
.contenido   img{
		width: 80%; 
		height: 30%;

}
.contenedor .contenido table {
	padding-left: 12%;
}


/*Modificaciones para el HEADER 2 dentro del contenido*/


div .aside1{
	background: rgba(255, 255, 255, 0.877);
	box-shadow:  0 1px 5px rgb(0 0 0 / 20%);
	backdrop-filter:  blur( 20px );
	position: sticky;
	align-self: start;
	top: 12%;
	z-index: 7;
	border: #0074b3 1px solid;
}
div .aside3{
	background: rgba(255, 255, 255, 0.877);
	box-shadow:  0 1px 5px rgb(0 0 0 / 20%);
	backdrop-filter:  blur( 20px );
	position: sticky;
	align-self: start;
	top: 12%;
	z-index: 6;
	border: #0074b3 1px solid;
	text-align: center;
}



/*@media para hacer que el contenido cambie de tamaño de acuerdo con el responsive*/
@media screen and (max-width: 768px){
	.contenedor {
        margin-top: 20%;
		padding-top: 10%;
        width: 90%;
        text-align: justify;
		grid-template-areas:
						
						 "contenido contenido contenido contenido contenido"

						 "aside1 aside1 aside1 aside1 aside1"
						 "aside1 aside1 aside1 aside1 aside1"
						 "footer footer footer footer footer";
	}
	.contenedor .contenido h1{
		text-align: center;
		font-size: 400%;

	
	}

	.contenedor .contenido img{
		width: 400px; 
		height: 250px;
		padding: 0px;
	}
	.footer table .datos{
		text-align: center;
		padding-left: 15%;
		padding-right: -15%;
		padding-top: 10%;
	}
	.aside1{
		text-align: center;
	}
	.slider{
		display: none;
	}



}

/*@media para que funcione el Checkbtn del menú despegable de manera responsive------------------*/
@media (max-width:  1600px){
	.enlace{
	padding-left: 17%; 
}
	header ul li a{
	font-size: 16px;
}
@media (max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #FDECCE;
		top: 64px;
		left: -200%; 
		text-align: center;
		padding-left: 10px;
		transition: all .69s;
	}
	header ul li{
		display: block;
		margin: 30px 100px;
		line-height: 30px;
		top: 50px;
		border-bottom: #033e75 1.5px dotted;
		border-left: none;
	}
	header ul li .submenu{
		opacity: 100;
		margin: 30px 100px;
		line-height: 30px;
		top: 1000px;
		border-left: none;
	}
	header ul li a{
		font-size: 25px;
		color: #033e75;
		border-left: none;
	
	}
	li a:hover, li a:hover.active{
		background: #fdcece;
		color:  #033e75;
		padding: 15px 40px;
		border-radius: 50px;
		transition: all .5s;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
	
}

	#check:checked ~ ul{
		left:  0;
		background: #E0E0DD;
}}}
@media (max-width: 1600px){
	.contenedor{
		margin-top: 10%;
		grid-template-areas:
						
		"contenido contenido contenido contenido contenido"

		"aside1 aside1 aside1 aside3 aside3"

		"footer footer footer footer footer";
	}
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #FDECCE;
		top: 64px;
		left: -200%; 
		text-align: center;
		padding-left: 10px;
		transition: all .69s;
	}
	header ul li{
		display: block;
		margin: 30px 100px;
		line-height: 30px;
		top: 50px;
		border-bottom: #033e75 1.5px dotted;
		border-left: none;
	}
	header ul li .submenu{
		opacity: 100;
		margin: 30px 100px;
		line-height: 30px;
		top: 1000px;
		border-left: none;
	}
	header ul li a{
		font-size: 25px;
		color: #033e75;
		border-left: none;
	
	}
	.contenedor .contenido img{
		width: 100%; 
		height: 30%;
		padding-bottom: 25%;
	}

	
	.slider{
		display: none;
	}
	li a:hover, li a:hover.active{
		background: #FDECCE;
		color:  #033e75;
		padding: 15px 40px;
		border-radius: 50px;
		transition: all .5s;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		-ms-transition: all .5s;
		-o-transition: all .5s;
}
	.contenedor .contenido div .buttons table{
		margin-left: 0px;
	}
	.contenedor .contenido div .buttons{
		margin-left: 0px;
	}

	#check:checked ~ ul{
		left:  0;
		background: #E0E0DD;
}}


/*-----------------*/

/*-----Efecto Slider para el Header 2 dentro del contenido*/
 .slider{
	margin-top: 4.2%;
}
.slider .slides li img{
	width: 1920px;
	height: 100px;
	border-bottom: 1px solid black;
}

/*Aquí inicia la sección del Footer de la página*/

.footer {
	background: #033e75ef;
	color: #fff;
	font-family: 'Raleway',sans-serif;
	padding: 1em 0; 
	margin-top: auto;
	letter-spacing: 1px;
	padding-top: 10px;
}
.footer table{
	padding-left: 0%;
	margin: auto;
	padding-top: 10px;
	padding-bottom: 50px;
	line-height: 25px;
}
table td{
	padding-right: 100px;
}

.footer table td{
	padding-right: 50px;
}
.footer .datos{
	text-align: justify;
	letter-spacing: 1px;
}

.footer table tr ul li{
	list-style: none;
	text-decoration: none;
}
.footer table tr ul li a{
	text-decoration: none;
	color: #f8e4bf;
}
table .datos a{
	text-decoration: none;
	color: white;
}


.footer .ultimo h3{
	text-align: center;
	font-weight: lighter;
	margin-bottom: -20px;
	font-size: 15px;
	background-color: #f8e4bf;
	color: #033e75;
	padding-top: 5px;
}

.raise:focus,.raise:hover{box-shadow:0 .5em .5em -.4em var(--hover);-webkit-transform:translateY(-.25em);transform:translateY(-.25em)}
.offset{box-shadow:.3em .3em 0 0 var(--color),inset .3em .3em 0 0 var(--color)}
.offset:focus,.offset:hover{box-shadow:0 0 var(--hover),inset 6em 8em 0 0 var(--hover)}
.raise{---color:#818181;--hover:#057eee; }
.offset{ --color:#033e75; --hover: #e9d6b4; border-radius: 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; }
button{color:var(--color);transition:.25s}
button:focus,button:hover{border-color:var(--hover);color:black}
button{background:0 0;border:2px solid;font:inherit;line-height:1;margin:.5em;padding:1em 2em}
